<div class="container p-3 my-3" id="adsaa" style="display: none;">
  <div class="row p-3 my-3">
    <div class="col-sm-4">
      <img src="assets/images/GMT1.jpg" class="img-fluid rounded">
    </div>
    <div class="col-sm-6 align-content-center" style="padding-top: 30px;">
      <h3 style="padding-left: 30px">Associate Dean SA</h3>
      <ul>
        <li>Prof. George Mathew</li>
        <li><fa-icon [icon]="email"></fa-icon> <a href="mailto:adean.sa@iitb.ac.in" target="_blank"> adean.sa@iitb.ac.in</a></li>
        <li><fa-icon [icon]="phone"></fa-icon> +91-22-2576 7079
        </li>
        <li><fa-icon [icon]="fax"></fa-icon> +91-22-2576 4040</li>
        <li><fa-icon [icon]="address"></fa-icon> Dean SA Office, Main Building, First Floor, Indian Institute of Technology Bombay, Powai, Mumbai 400 076.</li>
      </ul>
    </div>
  </div>
  <div class="row p-3 my-3">
    <div class="col-sm-4">
      <img src="assets/images/anonymous.jpg" class="img-fluid rounded">
    </div>
    <div class="col-sm-6" style="padding-top: 30px;">
      <h3 style="padding-left: 30px">PA to Associate Dean SA</h3>
      <ul>
        <li>Name</li>
        <li><fa-icon [icon]="email"></fa-icon> <a href="mailto:dean.sa.office@iitb.ac.in" target="_blank"> dean.sa.office@iitb.ac.in </a></li>
        <li>(Pic to be changed)
        </li>
      </ul>
    </div>
  </div>
</div>
