<div class="container p-3 my-3" id="mm" style="display: none">
  <h1 class="text-center">Insight - The Student Media Body</h1>
  <h3>Faculty Advisors</h3>
  <div class="row p-3 my-3" *ngFor="let fac of facAds">
    <div class="col">
      <img src="{{fac.img}}" class="img-fluid rounded">
    </div>
    <div class="col">
      <ul>
        <li>{{fac.name}}</li>
        <li><fa-icon [icon]="email"></fa-icon><a href="mailto:{{fac.mail}}" target="_blank"> {{fac.mail}}</a></li>
      </ul>
    </div>
  </div>
  <h3>Chief Editors</h3>
  <div class="row p-3 my-3" *ngFor="let editor of chiefEditors">
    <div class="col">
      <img src="{{editor.img}}" class="img-fluid rounded">
    </div>
    <div class="col">
      <ul>
        <li>{{editor.name}}</li>
        <li><fa-icon [icon]="email"></fa-icon><a href="mailto:{{editor.mail}}" target="_blank"> {{editor.mail}}</a></li>
        <li><fa-icon [icon]="website"></fa-icon><a href="{{editor.site}}" target="_blank"> {{editor.site}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
