<div class="container p-3 my-3" id="mm" style="display: none; margin-right: auto;">
  <div class="row p-3 my-3" *ngFor="let fac of facAds">
    <div class="col-sm-4">
      <img src="{{fac.img}}" class="img-fluid rounded">
    </div>
    <div class="col-sm-6" style="padding-top: 30px">
      <h3>Faculty Advisor</h3>
      <ul>
        <li>{{fac.name}}</li>
        <li><fa-icon [icon]="email"></fa-icon><a href="mailto:{{fac.mail}}" target="_blank"> {{fac.mail}}</a></li>
      </ul>
    </div>
  </div>
  <div class="row p-3 my-3" *ngFor="let editor of chiefEditors" style="margin-right: auto;">
    <div class="col-sm-4">
      <img src="{{editor.img}}" class="img-fluid rounded">
    </div>
    <div class="col-sm-6" style="padding-top: 30px">
      <h3>Chief Editor, Insight</h3>
      <ul>
        <li>{{editor.name}}</li>
        <li><fa-icon [icon]="email"></fa-icon><a href="mailto:{{editor.mail}}" target="_blank"> {{editor.mail}}</a></li>
        <li><fa-icon [icon]="website"></fa-icon><a href="{{editor.site}}" target="_blank"> {{editor.site}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
