<div class="container-fluid">
  <h1 style="text-align: center">Hostel Coordinating Unit (HCU)</h1>
  <div class="container-fluid">
    <h2>Overview</h2>
    <p style="font-size: 12pt">The Hostel Coordinating unit is located on the minus one level of the Main Building of IIT Bombay. The HCU has the role of managing and Coordinating the activities of all 18 Student Hostels of campus (Hostels No. 1 to16, Hostel No 18 and Tansa) and 3 Buildings for Married research Scholars (MRSB, Tulsi, and Type-1). The HCU also manages the workforce under the centralized hostel management system.</p>
  </div>
  <div class="container-fluid">
    <h2>HCU Office</h2>
    <div class="row">
      <div class="col-2">
        <img src="assets/images/T_KUNDU.jpg" class="img-fluid rounded">
      </div>
      <div class="col-3">Assistant Registrar HCU <br>
      Extension Number: 0000 <br>
      (Pic change afterwards)</div>
    </div>
  </div>
  <div class="container-fluid p-2">
    <h2>Scope of work - Hostel Coordinating unit</h2>
    <ul>
      <li>Coordinating the activities of various Hostels in matters of common interest and common policy
        <ul>
          <li>Majority of the hostels have a private caterer serving in their messes.  HCU publishes the tender for selection of caterers in various hostels and conducts the process of selection.
          </li>
          <li>The hostel wardens’ council decides and formulates various policies, such as the policy of guest booking, policy for selection of caterers to run the messes and canteens in all the hostels. These common policies are implemented by HCU.
          </li>
        </ul>
      </li>
      <li>
        Allotment of hostels to the students/Interns/Interviewee for admissions/conference, seminars, workshops and other events attendee/Guest accommodation
        <ul>
          <li>New students:
            <ul>
              <li>The list of students joining the institute is received from the academic section of the institute and usually all the first-year students for all academic programmes (UG, PG) are allotted to the same hostel.</li>
              <li>In the normal course, any change in room allocation is not allowed.</li>
              <li>The allocations are usually made keeping in mind the fact that clubbing the same department student at one place, which allows them to efficiently manage their academic activities such as projects, quizzes etc.</li>
              <li>Only shared accommodation is allowed during the first year of any academic programme (B.Tech, M.Tech, P.hd, M.Phil, B.Des, M.Des,etc.)
              </li>
            </ul>
          </li>
          <li>Existing Students:
            <ul>
              <li>Second-year onwards students are shifted to another hostel. The allocation is again based on their department and no change in allocation is allowed. Towards the end of each semester, the students are allowed to make a request for retention of the room during the vacation and only limited number of such requests are allowed based on the genuine requirement.(Attending summer course, final year project etc)
              </li>
            </ul>
          </li>
          <li>
            Interns:
            <ul>
              <li>Hostels rooms are allotted to external interns during summer and winter vacation provided they are working with a faculty member from IIT Bombay. </li>
              <li>The interns are required to complete the formalities such as registration, payment of internship fees etc. with the academic office and thereafter visit HCU (only during working hours) for allotment of accommodation. Rooms to interns are always provided on a sharing basis.</li>
              <li>The interns are advised not to approach for extension of tenure of stay in hostels.</li>
            </ul>
          </li>
          <li>
            Candidates visiting IIT for various Interviews for admission school the academic programme of the institute (M.Tech, M.Sc., PhD etc.):
            <ul>
              <li>Hostels rooms are allotted to the candidates appearing for written test interviews, for admission to the various academic programmes of the institute</li>
              <li>The allotment is made for a short duration of 3-4 days. An online portal is activated usually before 10-20 days before the dates of written test and interview details instructions are published at the time of release.</li>
            </ul>
          </li>
          <li>
            Guest accommodation to the parents of the registered students of IIT Bombay
            <ul>
              <li>Guest accommodation for parents visiting their children’s, studying in IIT Bombay, is provided subject to the following norms:</li>
              <ul>
                <li>Accommodation is provided for the period of one week only.</li>
                <li>Shared accommodation is provided in any of the hostels only if available.</li>
                <li>Accommodation is provided for
                  <ul>
                    <li>Father</li>
                    <li>Mother</li>
                    <li>Husband/Wife</li>
                    <li>Siblings (only if accompanied by at least one of the parents)</li>
                    <li>Other relatives (only if accompanied by at least one of the parents)</li>
                  </ul>
                </li>
              </ul>
              <span><b>KINDLY NOTE:</b> The accommodation will also be provided to no legal guardians in expectational cases and medical emergencies certified writing by the IIT hospital or students wellness centre for a period of more than one week</span>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        Handling HR function in respect of CHMS workers
        <ul>
          <li>There are about 125 regular staff employed under the centralized hostel management system. HCU maintained all service records in case of these employees. HCU also processes their retirement, final payments etc.
          </li>
        </ul>
      </li>
      <li>
        Issuing no-dues certificates to graduate students
        <ul>
          <li>Every graduating student is required to obtain a no dues certificate from the respective hostel before approaching the hostel co-ordinating unit for no dues certificates. The form of no dues certificates is available in HCU.</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
