<!--<div class="container" id="contact">-->
<!--</div>-->
<div class="container p-3 my-3" id="dsaa" style="display: block">
  <div class="row p-3 my-3">
    <div class="col-4">
      <img src="assets/images/T_KUNDU.jpg" class="img-fluid rounded">
    </div>
    <div class="col-6" style="padding-top: 30px;">
      <h3 style="padding-left: 30px">Dean SA</h3>
      <ul>
        <li>Prof. Tapanendu Kundu</li>
        <li><fa-icon [icon]="email"></fa-icon><a href="mailto:dean.sa@iitb.ac.in" target="_blank"> dean.sa@iitb.ac.in</a></li>
        <li><fa-icon [icon]="phone"></fa-icon> +91-22-2576 7079
        </li>
        <li><fa-icon [icon]="fax"></fa-icon> +91-22-2576 4040</li>
        <li><fa-icon [icon]="address"></fa-icon> Dean SA Office, Main Building, First Floor, Indian Institute of Technology Bombay, Powai, Mumbai 400 076.</li>
      </ul>
    </div>
  </div>
  <div class="row p-3 my-3">
    <div class="col-4">
      <img src="assets/images/anonymous.jpg" class="img-fluid rounded">
    </div>
    <div class="col-6" style="padding-top: 30px;">
      <h3 style="padding-left: 30px">PA to Dean SA</h3>
      <ul>
        <li>Name</li>
        <li><fa-icon [icon]="email"></fa-icon> <a href="mailto:dean.sa.office@iitb.ac.in" target="_blank"> dean.sa.office@iitb.ac.in </a></li>
        <li>(Pic to be changed)
        </li>
      </ul>
    </div>
  </div>
</div>
