<div class="container-fluid">
  <mat-sidenav-container class="example-container" autosize>
    <mat-sidenav mode="side" opened style="background-color: black;">
      <nav class="navbar navbar-dark" id="hov" style="background-color: black;">
<!--      <a class="navbar-brand">Contact Us</a>-->
<!--      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--      </button>-->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item"><a id="dsa" class="nav-link btn active" (click)="display($event)" routerLinkActive="active">Dean SA</a></li>
        <li class="nav-item"><a id="adsa" class="nav-link btn" (click)="display($event)" routerLinkActive="active">Associate Dean SA</a></li>
        <li class="divider"></li>
        <li class="nav-item"><a id="hcu"  class="nav-link btn" (click)="display($event)">Hostel Coordinating Unit</a></li>
        <li class="divider"></li>
        <li class="nav-item"><a id="gs"  class="nav-link btn" (click)="display($event)">Institute General Secretaries Councils</a></li>
        <li class="nav-item"><a id="ib"  class="nav-link btn" (click)="display($event)">Independent Bodies</a></li>
        <li class="nav-item"><a id="m"  class="nav-link btn" (click)="display($event)">Student Media Body</a></li>
      </ul>
    </nav></mat-sidenav>
    <mat-sidenav-content style="background-color: white;">
      <app-deansa></app-deansa>
      <app-adeansa></app-adeansa>
      <app-hcuoffice></app-hcuoffice>
      <app-gscouncils></app-gscouncils>
      <app-ib></app-ib>
      <app-media></app-media>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
