.navbar-fixed-left {
  width: auto;
  position: fixed;
  border-radius: 0;
  height: auto;
  align-items: center;
}
ul {
  list-style: none;
}
img {
  width: 168px;
  height: 220px;
  margin: auto;
}
