<div class="container-fluid">
  <nav class="navbar navbar-dark bg-light">
    <span style="flex: 1 1 auto"></span>
    <div class="btn-group">
      <button id="dsa" type="button" class="btn btn-outline-dark" (click)="display($event)">Dean SA</button>
      <button id="adsa" type="button" class="btn btn-outline-dark" (click)="display($event)">Associate Dean SA</button>
      <button id="hcu" type="button" class="btn btn-outline-dark" (click)="display($event)">Hostel Coordinating Unit</button>
      <button id="gs" type="button" class="btn btn-outline-dark" (click)="display($event)">Institute General Secretaries</button>
      <button id="ib" type="button" class="btn btn-outline-dark" (click)="display($event)">Independent Bodies</button>
      <button id="m" type="button" class="btn btn-outline-dark" (click)="display($event)">Media</button>
    </div>
    <span style="flex: 1 1 auto"></span>
  </nav>
  <div class="container" id="contact">
    <div class="container p-3 my-3" id="dsaa" style="display: block">
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/T_KUNDU.jpg" class="img-fluid rounded">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Dean SA</h3>
          <ul>
            <li>Prof.Tapanendu Kundu</li>
            <li>Email: <a href="mailto:dean.sa@iitb.ac.in" target="_blank">dean.sa@iitb.ac.in</a></li>
            <li>Phone: +91-22-2576 7079
            </li>
            <li>Fax: +91-22-2576 4040</li>
            <li>Address: Dean SA Office, Main Building, First Floor, Indian Institute of Technology Bombay, Powai, Mumbai 400 076.</li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/T_KUNDU.jpg" class="img-fluid rounded">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">PA to Dean SA</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:dean.sa.office@iitb.ac.in" target="_blank">dean.sa.office@iitb.ac.in </a></li>
            <li>(Pic to be changed)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container p-3 my-3" id="adsaa" style="display: none">
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Associate Dean SA</h3>
          <ul>
            <li>Prof.George Mathew</li>
            <li>Email: <a href="mailto:adean.sa@iitb.ac.in" target="_blank">adean.sa@iitb.ac.in</a></li>
            <li>Phone: +91-22-2576 7079
            </li>
            <li>Fax: +91-22-2576 4040</li>
            <li>Address: Dean SA Office, Main Building, First Floor, Indian Institute of Technology Bombay, Powai, Mumbai 400 076.</li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/T_KUNDU.jpg" class="img-fluid rounded">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">PA to Dean SA</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:dean.sa.office@iitb.ac.in" target="_blank">dean.sa.office@iitb.ac.in </a></li>
            <li>(Pic to be changed)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container p-3 my-3" id="hcuu" style="display: none">
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Assistant Registrar HCU (ARHCU)</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Phone: +91-22-2576-XXXX
            </li>
            <li>Fax: +91-22-2576 4040</li>
            <li>Address: Minus one floor, Academic Section, Main Building, IITB, Main Gate Rd, IIT Area, Powai, Mumbai, Maharashtra 400076
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/T_KUNDU.jpg" class="img-fluid rounded">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Other Staff</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:dean.sa.office@iitb.ac.in" target="_blank">dean.sa.office@iitb.ac.in </a></li>
            <li>(Pic to be changed)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container p-3 my-3" id="gss" style="display: none">
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GSHA.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">General Secretary Hostel Affairs (GSHA)</h3>
          <ul>
            <li>Mohd. Zakir Hussain</li>
            <li>Email: <a href="mailto:gsecha@iitb.ac.in" target="_blank">gsecha@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/hostels/home" target="_blank">https://gymkhana.iitb.ac.in/hostels/home</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Overall Coordinator, Student Alumni Relations Cell</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://sarc-iitb.org/" target="_blank">https://sarc-iitb.org/</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">General Secretary Academic Affairs (UG) - GSAA(UG)</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/~ugacademics/app/#/ugacads" target="_blank">https://gymkhana.iitb.ac.in/~ugacademics/app/#/ugacads</a></li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">General Secretary Academic Affairs (PG) - GSAA(PG)</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/~academics/pgac/" target="_blank">https://gymkhana.iitb.ac.in/~academics/pgac/</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">General Secretary Sports Affairs (GSSA)</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website:<a href="https://gymkhana.iitb.ac.in/~sports/" target="_blank">https://gymkhana.iitb.ac.in/~sports/</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">General Secretary Technical Affairs (GSTA)</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://www.tech-iitb.org/" target="_blank">https://www.tech-iitb.org/</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">General Secretary Cultural Affairs (GSCA)</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/~cultural/web/login_form.php" target="_blank">https://gymkhana.iitb.ac.in/~cultural/web/login_form.php</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container p-3 my-3" id="ibb" style="display: none">
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Mood Indigo</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/~cultural/web/login_form.php" target="_blank">https://gymkhana.iitb.ac.in/~cultural/web/login_form.php</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Techfest</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/~cultural/web/login_form.php" target="_blank">https://gymkhana.iitb.ac.in/~cultural/web/login_form.php</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">E-Cell</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/~cultural/web/login_form.php" target="_blank">https://gymkhana.iitb.ac.in/~cultural/web/login_form.php</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Abhyuday</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/~cultural/web/login_form.php" target="_blank">https://gymkhana.iitb.ac.in/~cultural/web/login_form.php</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container p-3 my-3" id="mm" style="display: none">
      <div class="row p-3 my-3">
        <div class="col-2">
          <img src="assets/images/GMT1.jpg" class="img-fluid rounded" style="width: 168px; height: 220px">
        </div>
        <div class="col" style="padding-top: 30px;">
          <h3 style="padding-left: 30px">Insight</h3>
          <ul>
            <li>Name</li>
            <li>Email: <a href="mailto:arhcu@iitb.ac.in" target="_blank">arhcu@iitb.ac.in</a></li>
            <li>Website: <a href="https://gymkhana.iitb.ac.in/~cultural/web/login_form.php" target="_blank">https://gymkhana.iitb.ac.in/~cultural/web/login_form.php</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
