.navbar-fixed-left {
  width: auto;
  position: fixed;
  border-radius: 0;
  height: auto;
  align-items: center;
}
ul {
  list-style: none;
}
img {
  width: 168px;
  height: 220px;
  margin: auto;
}
.divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: black;
}
h1 {
  font-size: xx-large;
  font-weight: 400;
}
h2 {
  font-size: x-large;
}
li, p {
  font-size: 12pt;
}
