<div class="container" id="gss" style="display: none">
  <nav class="navbar navbar-expand-md navbar-dark  justify-content-center" id="gsecs" style="background-color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SupportedContent" aria-controls="SupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mx-auto" id="SupportedContent">
      <li class="nav-item"><a id="gsha" class="nav-link btn btn-link active" (click)="switch($event)">Hostel Affairs</a></li>
      <!--              <li class="nav-item"><a id="sarc" class="nav-link btn btn-link" (click)="switch($event)">Student Alumni Relations Cell</a></li>-->
      <li class="nav-item"><a id="ugac"  class="nav-link btn btn-link" (click)="switch($event)">Academic Affairs (UG)</a></li>
      <li class="nav-item"><a id="pgac"  class="nav-link btn btn-link" (click)="switch($event)">Academic Affairs (PG)</a></li>
      <li class="nav-item"><a id="gssa"  class="nav-link btn btn-link" (click)="switch($event)">Sports Affairs</a></li>
      <li class="nav-item"><a id="gsca"  class="nav-link btn btn-link" (click)="switch($event)">Cultural Affairs</a></li>
      <li class="nav-item"><a id="gsta"  class="nav-link btn btn-link" (click)="switch($event)">Technical Affairs</a></li>
    </ul>
  </nav>
  <div class="row p-3 my-3" id="gshaa" style="display: block">
<!--    <h1 class="text-center">Hostel Affairs</h1>-->
<!--    <div class="my-3 p-3"></div>-->
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/GMT1.jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>Faculty Advisor</h3>
        <ul>
          <li>Prof. George Mathew</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:adean.sa@iitb.ac.in" target="_blank"> adean.sa@iitb.ac.in</a></li>
        </ul>
      </div>
    </div>
<!--    <div class="p-3 my-3"></div>-->
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/GSHA.jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>General Secretary Hostel Affairs</h3>
        <ul>
          <li>Mohd. Zakir Hussain</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:gsecha@iitb.ac.in" target="_blank"> gsecha@iitb.ac.in</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="https://gymkhana.iitb.ac.in/hostels/home" target="_blank"> https://gymkhana.iitb.ac.in/hostels/home</a>
          </li>
        </ul>
      </div>
    </div>
<!--    <div class="row p-3 my-3">-->
<!--      <div class="col-sm-4">-->
<!--        <img src="assets/images/GSHA.jpg" class="img-fluid">-->
<!--      </div>-->
<!--      <div class="col-sm-6" style="padding-top: 30px">-->
<!--        <h3>Overall Coordinator, Student Alumni Relations Cell</h3>-->
<!--        <ul>-->
<!--          <li>Mohd. Zakir Hussain</li>-->
<!--          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:gsecha@iitb.ac.in" target="_blank"> gsecha@iitb.ac.in</a></li>-->
<!--          <li><fa-icon [icon]="website"></fa-icon><a href="https://gymkhana.iitb.ac.in/hostels/home" target="_blank"> https://gymkhana.iitb.ac.in/hostels/home</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
  </div>
  <div class="row p-3 my-3" id="ugacc" style="display: none">
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/anonymous.jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>Faculty Advisor</h3>
        <ul>
          <li>Name</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:adean.sa@iitb.ac.in" target="_blank"> Email</a></li>
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
        <div class="col-sm-4">
        <img src="assets/images/Madhav%20Gupta%20Picture.jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>General Secretary Academic Affairs (UG)</h3>
        <ul>
          <li>Madhav Gupta</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:gsecaaug@iitb.ac.in" target="_blank"> gsecaaug@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="https://www.facebook.com/iitb.ugacads/" target="_blank"> https://www.facebook.com/iitb.ugacads/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-3 my-3" id="pgacc" style="display: none">
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/anonymous.jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>Faculty Advisor</h3>
        <ul>
          <li>Name</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:adean.sa@iitb.ac.in" target="_blank"> Email</a></li>
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/Radhik_Rammohan_Gsec.jpeg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>General Secretary Academic Affairs (PG)</h3>
        <ul>
          <li>Radhik Rammohan</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:gsecaapg@iitb.ac.in" target="_blank"> gsecaapg@iitb.ac.in</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="https://gymkhana.iitb.ac.in/~academics/pgac/" target="_blank"> https://gymkhana.iitb.ac.in/~academics/pgac/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-3 my-3" id="gssaa" style="display: none">
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/SF.jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3 >Faculty Advisor</h3>
        <ul>
          <li>Prof. Atul Srivastava</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:atulsr@iitb.ac.in" target="_blank"> atulsr@iitb.ac.in</a></li>
          <!--                  <li><fa-icon [icon]="website"></fa-icon><a href="https://gymkhana.iitb.ac.in/~sports/" target="_blank"> https://gymkhana.iitb.ac.in/~sports/</a>-->
          <!--                  </li>-->
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/Yog.jpeg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3 >General Secretary Sports Affairs</h3>
        <ul>
          <li>Yogender Singh</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:gsecsport@iitb.ac.in" target="_blank"> gsecsport@iitb.ac.in</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="https://gymkhana.iitb.ac.in/~sports/" target="_blank"> https://gymkhana.iitb.ac.in/~sports/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-3 my-3" id="gstaa" style="display: none">
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/profrkpant.jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>Faculty Advisor</h3>
        <ul>
          <li>Prof. R. K. Pant</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:rkpant@aero.iitb.ac.in" target="_blank"> rkpant@aero.iitb.ac.in</a></li>
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/amittal.jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>General Secretary Technical Affairs</h3>
        <ul>
          <li>Anirudh Mittal</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:gsectech@iitb.ac.in" target="_blank"> gsectech@iitb.ac.in</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="https://www.tech-iitb.org/" target="_blank"> https://www.tech-iitb.org/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-3 my-3" id="gscaa" style="display: none">
<!--    <h1 class="text-center">IIT Bombay Culturals</h1>-->
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/CF.png" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>Faculty Advisor</h3>
        <ul>
          <li>Prof. Prasenjit Bhaumik</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:pbhaumik@iitb.ac.in" target="_blank"> pbhaumik@iitb.ac.in</a></li>
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col-sm-4">
        <img src="assets/images/ca..jpg" class="img-fluid rounded">
      </div>
      <div class="col-sm-6" style="padding-top: 30px">
        <h3>General Secretary Cultural Affairs</h3>
        <ul>
          <li>Nandlal Chaudhary</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:nandlalc@iitb.ac.in" target="_blank"> nandlalc@iitb.ac.in</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="https://gymkhana.iitb.ac.in/~cultural" target="_blank"> https://gymkhana.iitb.ac.in/~cultural</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
