<div class="container p-3 my-3">
  <div class="container p-3 my-3">
    <h2>Hospital</h2>
    <ul>
      <li>At IIT Bombay, we are equipped with our own hospital to take care of the medical needs of the residents of the campus. The Hospital is headed by the CMO(Chief Medical Officer) with a team of full-time Medical Officers, Visiting Specialists and Para Medical staff. The Director has also constituted a Hospital Health and Advisory Committee with a Chairperson nominated by him/her and members are drawn from hospital medical board, faculty members and student representatives.
      </li>
      <li>24 hours ambulance faculty can be accessed by dialling 022-2576-1110</li>
      <li>For more detailed information please visit the hospital <a href="http://www.iitb.ac.in/hospital/" target="_blank">website</a>.</li>
    </ul>
  </div>
  <div class="container p-3 my-3">
    <h2>Student Wellness Center</h2>
    <ul>
      <li>The office of Dean SA offers lots of ways to connect with non - judgmental listeners who can help work through any issue, provide helpful information and referral and just be there when you need them. Counselling provides an opportunity for individuals to learn to make better choices, improve interpersonal skills, develop confidence and increase educational effectiveness. In a one-on-one meeting with a counsellor, students are helped to explore and express feelings, examine beliefs and ways of thinking about their present situation, reflect on patterns of behaviour, and work toward making healthier and happier changes.
      </li>
      <li>To book an appointment go-to <a href="https://www.iitb.ac.in/swc/en/user/login?destination=node/1183" target="_blank">book appointment page</a> or drop an email at <a href="mailto:wellness@iitb.ac.in" target="_blank">wellness@iitb.ac.in</a>.</li>
      <li>For more detailed information please visit the <a href="http://www.iitb.ac.in/swc/en" target="_blank">Student Wellness Centre</a> website.</li>
    </ul>
  </div>
  <div class="container p-3 my-3">
    <h2>Scholarships</h2>
    <ul>
      <li>IIT Bombay offers a huge number of scholarships for the students. These scholarships include Institute Scholarships, Scholarships offered by private organizations or trusts and also those offered by the Government of India.</li>
      <li>Different scholarships have different criteria, the details of which can be found <a href="http://www.iitb.ac.in/newacadhome/scholar.jsp" target="_blank">here</a>
      </li>
      <li>Apart from this, during their stay, the students can also take up Teaching Assistantship which can also reduce their financial burden.</li>
    </ul>
  </div>
  <div class="container p-3 my-3">
    <h2>Financial Aid</h2>
    <ul>
      <li><b>IITB Heritage Fund</b></li>
      <ul>
        <li>The Financial Aid Programme (FAP) was launched at the end of July 2007 with a generous endowment of Rs. 54 lakhs from the class of 1981. Since then many others including the class of 1986 have also decided to extend their support to this project. The motto of FAP is “To make IIT Education Financially Achievable”.The FAP scholarship is essentially a loan given by past students to the present students, who repay it back with generous donations for the benefit of future students so as to keep the endowment perpetual and growing. The aid is given to fund tuition fees, mess bill, purchase of computers/ laptops, travel assistance for projects abroad and other miscellaneous needs of the students</li>
        <li>Click <a href="https://www.iitbombay.org/page/financial-aid-program" target="_blank">here</a> for more details</li>
      </ul>
      <li><b>Loans</b></li>
      <ul>
        <li>SBI Student Loan</li>
        <li>Canara Bank Student Loan</li>
        <li>Student Benevolent Fund</li>
      </ul>
    </ul>
  </div>
  <div class="container p-3 my-3">
    <h2>Student Mentor Programme (SMP)</h2>
    <ul>
      <li>Student Mentor Programme (SMP), is a programme within the IIT Bombay Student Community, with the primary objective of enabling constructive and positive interaction, guidance and mentorship of junior students by senior students.</li>
      <li>or more detailed information please visit the <a href="https://smp.iitb.ac.in/index.html" target="_blank">SMP website</a>.</li>
    </ul>
  </div>
  <div class="container p-3 my-3">
    <h2>Important Documents</h2>
    <p>Here  are some documents that every student of IITB is expected to go through:</p>
    <ul>
      <li><a  href="https://gymkhana.iitb.ac.in/students/docs/campusCodeOfConduct.pdf" target="_blank">Campus Code of Conduct</a></li>
      <li><a  href="https://gymkhana.iitb.ac.in/students/docs/DACRules.pdf" target="_blank">DAC Rules</a></li>
      <li><a  href=" https://gymkhana.iitb.ac.in/students/rulebook.pdf" target="_blank">Academic Rules</a></li>
      <li><a  href="https://gymkhana.iitb.ac.in/SAC-Constitution-March-2018.pdf" target="_blank">SAC Constitution</a></li>
    </ul>
  </div>
</div>
