<div class="container-fluid" style="background-color: black">
  <nav class="navbar navbar-expand-md navbar-dark  fixed-top" style="background-color: black; margin: auto;">
    <a href="#" class="navbar-left"><img
      style="width:45px;height:45px; padding: 5px 0 2px 2px; margin-left: -10px; object-fit: contain; margin-right: 2px"
      src="./assets/iitb.png" alt=""></a>
    <a class="navbar-brand">Dean Student Affairs Office, IIT Bombay</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <span style="flex: 1 1 auto;"></span>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/hcu" routerLinkActive="active">Hostel Coordinating Unit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://gymkhana.iitb.ac.in/" target="_blank">Student's Gymkhana</a>
        </li>
        <!--      <li class="nav-item">-->
        <!--        <a class="nav-link light" routerLink="/housing" routerLinkActive="active">Housing</a>-->
        <!--      </li>-->
        <li class="nav-item">
          <a class="nav-link light" routerLink="/support" routerLinkActive="active">Student Suppport</a>
        </li>
        <li class="nav-item">
          <a class="nav-link light" routerLink="/contact" routerLinkActive="active">Contact Us</a>
        </li>
        <!--      <li class="nav-item dropdown">-->
        <!--        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Important Documents</a>-->
        <!--        <div class="dropdown-menu" aria-labelledby="dropdown01">-->
        <!--          <a class="dropdown-item" href="https://gymkhana.iitb.ac.in/students/docs/campusCodeOfConduct.pdf" target="_blank">Code of Conduct</a>-->
        <!--          <a class="dropdown-item" href="https://gymkhana.iitb.ac.in/students/docs/DACRules.pdf" target="_blank">DAC Rules</a>-->
        <!--          <a class="dropdown-item" href=" https://gymkhana.iitb.ac.in/students/rulebook.pdf" target="_blank">Academic Rules</a>-->
        <!--          <a class="dropdown-item" href="https://gymkhana.iitb.ac.in/SAC-Constitution-March-2018.pdf" target="_blank">SAC Constitution</a>-->
        <!--        </div>-->
        <!--      </li>-->
      </ul>
    </div>
  </nav>
</div>
<div class="container-fluid" style="padding-top: 5em">
  <router-outlet></router-outlet>
</div>
<!--<div class="container-fluid" id="footer">-->
<!--  <div class="row p-3 my-3"></div>-->
<!--  <div class="row p-3 my-3"></div>-->
<!--  <div class="row p-2 my-2"></div>-->
<!--  <div class="row p-3 my-3">-->
<!--    <p class="text-center">Created  and maintained by <a href="https://www.linkedin.com/in/ipsit-mantri-b61945170/" target="_blank">Ipsit</a> | <a href="https://github.com/Ipsit1234/Dean-SA-Website" target="_blank">Source Code</a></p>-->
<!--  </div>-->
<!--</div>-->
<footer class="container-fluid py-1 " style="background-color: black;">
  <div class="row p-3 my-3">
<!--    <div class="col mt-5">-->
<!--      <img src="assets/iitb.png" class="img-fluid" style="margin-right: auto;" alt="">-->
<!--    </div>-->
    <div class="col-sm-3 col-md">
      <h6 style="color: azure" class="text-center">Hostel Coordinating Unit</h6>
      <ul class="list-unstyled text-center">
        <li>
          <a href="https://gymkhana.iitb.ac.in/hostels/hostels" target="_blank">Hostels</a>
        </li>
        <li>
          <a href="https://support.iitb.ac.in/support/login.jsp" target="_blank">Maintenance Complaint Portal</a>
        </li>
      </ul>
    </div>
    <div class="col-3 col-md mt-auto">
      <h6 style="color: azure" class="text-center">Students's Gymkhana</h6>
      <ul class="text-center list-unstyled">
        <li>
          <a href="" target="_blank">Hostel Affairs</a>
        </li>
        <li>
          <a href="https://www.facebook.com/iitb.ugacads/" target="_blank">UG Academics</a>
        </li>
        <li>
          <a href="https://gymkhana.iitb.ac.in/~academics/pgac/" target="_blank">PG Academics</a>
        </li>
        <li>
          <a href="http://gymkhana.iitb.ac.in/~sports/" target="_blank">IITB Sports</a>
        </li>
        <li>
          <a href="https://www.tech-iitb.org/" target="_blank">Tech@IITB</a>
        </li>
        <li>
          <a href="http://gymkhana.iitb.ac.in/~cultural/" target="_blank">IITB Culturals</a>
        </li>
        <li>
          <a href="https://moodi.org/" target="_blank">Mood Indigo</a>
        </li>
        <li>
          <a href="https://techfest.org/" target="_blank">Techfest</a>
        </li>
        <li>
          <a href="https://www.ecell.in/" target="_blank">E-Cell</a>
        </li>
        <li>
          <a href="http://www.abhyudayiitb.org/" target="_blank">Abhyuday</a>
        </li>
        <li>
          <a href="https://www.insightiitb.org/" target="_blank">Insight</a>
        </li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <h6 style="color: azure" class="text-center">Student Support</h6>
      <ul class="list-unstyled text-center">
        <li>
          <a href="http://www.iitb.ac.in/hospital/" target="_blank">IITB Hospital</a>
        </li>
        <li>
          <a href="http://www.iitb.ac.in/swc/en" target="_blank">Student Wellness Center</a>
        </li>
        <li>
          <a href="http://www.iitb.ac.in/newacadhome/scholar.jsp" target="_blank">Scholarships</a>
        </li>
        <li>
          <a href="https://www.iitbombay.org/page/financial-aid-program" target="_blank">Financial Aid</a>
        </li>
        <li>
          <a href="https://smp.iitb.ac.in/index.html" target="_blank">Student Mentor Program</a>
        </li>
      </ul>
    </div>
    <div class="col-3 col-md">
      <h6 class="text-center" style="color: azure">Important Documents</h6>
      <ul class="list-unstyled text-center">
        <li><a  href="https://gymkhana.iitb.ac.in/students/docs/campusCodeOfConduct.pdf" target="_blank">Campus Code of Conduct</a></li>
        <li><a  href="https://gymkhana.iitb.ac.in/students/docs/DACRules.pdf" target="_blank">DAC Rules</a></li>
        <li><a  href=" https://gymkhana.iitb.ac.in/students/rulebook.pdf" target="_blank">Academic Rules</a></li>
        <li><a  href="https://gymkhana.iitb.ac.in/SAC-Constitution-March-2018.pdf" target="_blank">SAC Constitution</a></li>
      </ul>
    </div>
<!--    <div class="col-6 mt-auto">-->
<!--&lt;!&ndash;      <h4 style="color: azure; padding: 0; margin: 0">Navigate</h4>&ndash;&gt;-->
<!--      <ul class="list-unstyled text-small text-center" style="padding: 0">-->
<!--        <li>-->
<!--          <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="nav-link" routerLink="/hcu" routerLinkActive="active">Hostel Coordinating Unit</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="nav-link" href="https://gymkhana.iitb.ac.in/" target="_blank">Student's Gymkhana</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="nav-link light" routerLink="/support" routerLinkActive="active">Student Suppport</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a class="nav-link light" routerLink="/contact" routerLinkActive="active">Contact Us</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
    <div class="col-12 col-md ">
      <p class="text-center"><a style="color: azure" href="https://www.google.com/maps/place/Indian+Institute+of+Technology+Bombay/@19.1334302,72.9132679,15z/data=!4m5!3m4!1s0x0:0x68fdcea4c5c5894e!8m2!3d19.1334302!4d72.9132679" target="_blank"><fa-icon [icon]="map" style="color: azure"></fa-icon> Reach Us</a></p>
      <ul class="list-unstyled text-center">
        <li>
          Indian Institute of Technology, Bombay
        </li>
        <li>Powai, Mumbai, 400076</li>
        <li>Maharashtra, India</li>
        <li><fa-icon [icon]="phone"></fa-icon> +91 (22) 2576 7079</li>
        <li><fa-icon [icon]="fax"></fa-icon> +91 (22) 2576 4040</li>
        <li><fa-icon [icon]="website"></fa-icon> <a href="http://www.iitb.ac.in/en" target="_blank"> http://www.iitb.ac.in/en</a></li>
      </ul>
    </div>
  </div>
</footer>
