body {
  padding-top: 5rem;
}
.starter-template {
  padding-top: 5rem;
  text-align: center;
}
#footer {
  background-color: black;
  width: available;
  height: 200px;
  text-align: center;
}
p {
  color: azure;
  align-content: center;
}
li {
  color: azure;
}

@media only screen and (max-width: 700px) {
  [class="navbar-brand"]{
    font-size: small;
  }
  .nav-item .nav-link {
    font-size: small;
  }
  li, h6 {
    font-size: small;
  }
}
