<div class="container-fluid p-3 my-3">
  <div class="container">
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/images/T_KUNDU.jpg" style="width: 1080px; height: 220px" class="img-fluid">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/images/GMT1.jpg" style="width: 1080px; height: 220px" class="img-fluid">
      </ng-template>
    </ngb-carousel>
  </div>
  <div class="container-fluid p-3 my-3">
    <h2>About Hostels</h2>
    <ul>
      <li>There are total 18 hostels on campus (Hostels No. 1 to 16, Hostel No. 18 and Tansa) and 3 Building for Married Research Scholars (MRSB, Tulsi, and Type-1)
      </li>
      <li>Every hostel generally has washing and ironing facilities, a mess (dining hall), a computer room, a TV, sports grounds and indoor games like Table Tennis, Footer, Carrom Board, Chess etc. The access rules vary, but in general, these facilities can be availed against your I-Card. There is internet connection in each room, but we highly recommend that these may only be used for productive purposes.
      </li>
      <li>All hostels have a Xerox and Stationery shop for basic requirements. Each room has two tube lights, fan(s), table(s), chair(s) and cupboard(s). If you want anything else, you will have to purchase it. All rooms have nets fitted on the windows. Rooms are cleaned by the housekeeping staff once every month. Apart from that, you are supposed to take care of your rooms yourselves.
      </li>
      <li>For all maintenance and other issues, there is one centralized complaint management system at <a href="https://support.iitb.ac.in/support/login.jsp" target="_blank">IITB Maintenance Complaint Portal: Login Page.</a>
      </li>
      <li>This can be used to record complaints, issues and suggestions about various things inside the campus. You can even find tracking of your complaints in the portal. If for some reason you cannot access it, you can always contact the Hall Manager or the Hostel Maintenance Council</li>
    </ul>
    <span><b>PLEASE NOTE:</b> To understand room allotment rules, please visit Hostel Co-Ordination Unit (HCU) section on this website.
</span>
  </div>

</div>
