<div class="container" id="ibb" style="display: none">
  <nav class="navbar navbar-expand-md navbar-dark justify-content-center" id="ibs" style="background-color: black">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#SupportedContent1" aria-controls="SupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mx-auto" id="SupportedContent1">
      <li class="nav-item"><a id="mi" class="nav-link btn btn-link active" (click)="switch2($event)">Mood Indigo</a></li>
      <li class="nav-item"><a id="tf"  class="nav-link btn btn-link" (click)="switch2($event)">Techfest</a></li>
      <li class="nav-item"><a id="ec"  class="nav-link btn btn-link" (click)="switch2($event)">E - Cell</a></li>
      <li class="nav-item"><a id="ab"  class="nav-link btn btn-link" (click)="switch2($event)">Abhyuday</a></li>
    </ul>
  </nav>
  <div class="row p-3 my-3" id="mii" style="display: block">
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/pbhaumik_pic.jpg" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Faculty Advisor</h3>
        <ul>
          <li>Prof. P. Bhaumik</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:pbhaumik@iitb.ac.in  " target="_blank"> pbhaumik@iitb.ac.in  </a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <!--                  <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>-->
          <!--                  </li>-->
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/atharva_MI_OC.JPG" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Overall Coordinator</h3>
        <ul>
          <li>Atharva Padhye</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:17d170004@iitb.ac.in" target="_blank"> 17d170004@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/naman_MI_OC.jpg" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Overall Coordinator</h3>
        <ul>
          <li>Naman Sureka</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:17d170015@iitb.ac.in" target="_blank"> 17d170004@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-3 my-3" id="tff" style="display: none">
<div class="row p-3 my-3">
    <div class="col">
      <img src="assets/images/pbhaumik_pic.jpg" class="img-fluid rounded">
    </div>
    <div class="col" style="padding-top: 30px">
      <h3>Faculty Advisor</h3>
      <ul>
        <li>Prof. P. Bhaumik</li>
        <li><fa-icon [icon]="email"></fa-icon><a href="mailto:pbhaumik@iitb.ac.in  " target="_blank"> pbhaumik@iitb.ac.in  </a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
        <!--                  <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>-->
        <!--                  </li>-->
      </ul>
    </div>
  </div>
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/atharva_MI_OC.JPG" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Overall Coordinator</h3>
        <ul>
          <li>Atharva Padhye</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:17d170004@iitb.ac.in" target="_blank"> 17d170004@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/naman_MI_OC.jpg" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Overall Coordinator</h3>
        <ul>
          <li>Naman Sureka</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:17d170015@iitb.ac.in" target="_blank"> 17d170004@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-3 my-3" id="ecc" style="display: none">
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/pbhaumik_pic.jpg" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Faculty Advisor</h3>
        <ul>
          <li>Prof. P. Bhaumik</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:pbhaumik@iitb.ac.in  " target="_blank"> pbhaumik@iitb.ac.in  </a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <!--                  <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>-->
          <!--                  </li>-->
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/atharva_MI_OC.JPG" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Overall Coordinator</h3>
        <ul>
          <li>Atharva Padhye</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:17d170004@iitb.ac.in" target="_blank"> 17d170004@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/naman_MI_OC.jpg" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Overall Coordinator</h3>
        <ul>
          <li>Naman Sureka</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:17d170015@iitb.ac.in" target="_blank"> 17d170004@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row p-3 my-3" id="abb" style="display: none">
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/pbhaumik_pic.jpg" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Faculty Advisor</h3>
        <ul>
          <li>Prof. P. Bhaumik</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:pbhaumik@iitb.ac.in  " target="_blank"> pbhaumik@iitb.ac.in  </a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <!--                  <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>-->
          <!--                  </li>-->
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/atharva_MI_OC.JPG" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Overall Coordinator</h3>
        <ul>
          <li>Atharva Padhye</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:17d170004@iitb.ac.in" target="_blank"> 17d170004@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row p-3 my-3">
      <div class="col">
        <img src="assets/images/naman_MI_OC.jpg" class="img-fluid rounded">
      </div>
      <div class="col" style="padding-top: 30px">
        <h3>Overall Coordinator</h3>
        <ul>
          <li>Naman Sureka</li>
          <li><fa-icon [icon]="email"></fa-icon><a href="mailto:17d170015@iitb.ac.in" target="_blank"> 17d170004@iitb.ac.in</a>, <a href="mailto:gsecaaug.iitb.@gmail.com" target="_blank"> gsecaaug.iitb.@gmail.com</a></li>
          <li><fa-icon [icon]="website"></fa-icon><a href="http://www.moodi.org/" target="_blank"> http://www.moodi.org/</a>
          </li>
        </ul>
      </div>
    </div>
</div>
