<div class="container p-3 my-3" id="hcuu" style="display: none">
  <div class="row p-3 my-3">
    <div class="col-4">
      <img src="assets/images/anonymous.jpg" class="img-fluid rounded">
    </div>
    <div class="col-6" style="padding-top: 30px;">
      <h3 style="padding-left: 30px">Assistant Registrar HCU (ARHCU)</h3>
      <ul>
        <li>Name</li>
        <li><fa-icon [icon]="email"></fa-icon> <a href="mailto:arhcu@iitb.ac.in" target="_blank"> arhcu@iitb.ac.in</a></li>
        <li><fa-icon [icon]="phone"></fa-icon> +91-22-2576-XXXX
        </li>
        <li><fa-icon [icon]="fax"></fa-icon> +91-22-2576 4040</li>
        <li><fa-icon [icon]="address"></fa-icon> Minus one floor, Academic Section, Main Building, IITB, Main Gate Rd, IIT Area, Powai, Mumbai, Maharashtra 400076
        </li>
      </ul>
    </div>
  </div>
  <div class="row p-3 my-3">
    <div class="col-4">
      <img src="assets/images/anonymous.jpg" class="img-fluid rounded">
    </div>
    <div class="col-6" style="padding-top: 30px;">
      <h3 style="padding-left: 30px">Other Staff</h3>
      <ul>
        <li>Name</li>
        <li><fa-icon [icon]="email"></fa-icon> <a href="mailto:dean.sa.office@iitb.ac.in" target="_blank">dean.sa.office@iitb.ac.in </a></li>
        <li>(Pic to be changed)
        </li>
      </ul>
    </div>
  </div>
</div>
