<div class="container-fluid" style="width: fit-content; height: max-content;">
  <ngb-carousel>
    <ng-container *ngFor="let pic of instiPics">
      <ng-template ngbSlide>
        <img src="{{pic}}" class="img-fluid center">
        <div class="carousel-caption text-center" style="background-color: rgba(0,0,0,0.5);height: max-content;"><h5>Caption</h5></div>
      </ng-template>
    </ng-container>
  </ngb-carousel>
</div>
<div class="container p-3 my-3">
  <h2>About</h2>
  <p>The IIT Bombay campus provides an ideal setting for the students to participate in recreational and extracurricular activities. IITB's core program involving co-curricular activities for its students during their stay on the campus is meant to provide them with a launching pad for these activities. The mandate of the Student Affairs Office is to coordinate and regulate all aspects of student life at IITB. This is carried out primarily through two bodies:</p>
  <ol>
    <li>The <a routerLink="/hcu" target="_blank"><b>Hostel Coordinating Unit</b></a>, manages and Coordinates the activities of all Student Hostels of campus (Hostels No. 1 to16, Hostel No. 18 and Tansa) and Building for Married research Scholars (MRSB, Tulsi, and Type-1). The HCU also manages the workforce under the centralized hostel management system
    </li>
    <li>The <a href="https://gymkhana.iitb.ac.in/" target="_blank"><b>Students' Gymkhana</b></a> along with its infrastructure is an organization to foster and develop all student activities in the Institute. It aims at promoting and developing organizational abilities in students. It has been successful over the years in evolving a well-informed, articulate and participatory student community life. It has been instrumental in identifying student issues and promoting discussion on them. It functions as the office for all election and nominations of students for gymkhana activities.
    </li>
  </ol>
</div>
<div class="container p-3 my-3">
  <h2>Message from Dean SA and Associate Dean SA</h2>
  <div class="container row p-3 my-3">
    <div class="col-3">
      <img src="{{deanSA.picture}}" class="img-fluid rounded" style="width: 200px; height: 220px">
    </div>
    <div class="col">
      <p>{{deanSA.message}}</p>
      <footer  *ngFor="let i of deanSA.signature.split('<br>')">{{i}}<br></footer>
    </div>
  </div>
  <div class="container row p-3 my-3">
    <div class="col-3">
      <img src="{{adeanSA.picture}}" class="img-fluid rounded" style="max-width: 200px; max-height: 220px">
    </div>
    <div class="col"><p>{{adeanSA.message}}</p>
      <footer *ngFor="let i of adeanSA.signature.split('<br>')">{{i}}<br></footer>
    </div>
  </div>
</div>
